<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>App Join</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="isMenuOpen" (closedStart)="isMenuOpen = false">
      <mat-nav-list>
        <a mat-list-item routerLink="/categorias" (click)="sidenav.close()">Categorias</a>
        <a mat-list-item routerLink="/produtos" (click)="sidenav.close()">Produtos</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  